@charset "UTF-8";

/* SEMPRE COMEÇAR COM ESSA CONFIGURAÇAO GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh; /* E COM "H"*/
    width: 100vw;  /* E COM "W"*/
    background-color: black;
}
body{
    background: url(../desafio13/imagens/otofundo.jpg)no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}
main{
    position: relative;
    height: 100vh;
}
    /* ~ TELEFONE ~ */

/* POSITION~TRANSFORM DEIXA A IMAGEM NO MEIO DA TELA */
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* USAR ISSO PARA DEIXAR NO MEIO */

    height: 627px;
    width: 311px;
    
    background:url('../desafio13/imagens/frame-iphone.png')no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(51, 51, 51);
    box-sizing: border-box; /* ESSE COMANDO FAZ COM QUE OS ICONES NÃO MEXAM COM O MOUSE EM CIMA */
}
section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.37);
    transform: translate(2px, 2px);
    box-shadow: 5px 5px 10px black;
    transition-duration: .3s;
    transform-box: border-box .5s;
}